@model IEnumerable<ProjetoPadrao.Dados.Entidades.Template>

@{
    ViewBag.Title = "Templates";
}

<h2>Templates</h2>

<p>
    @Html.ActionLink("Adicionar template", "Novo", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>ID do Template</th>
        <th>Nome</th>
        <th>Alias</th>
        <th>Conteúdo dinâmico</th>
        <th></th>
    </tr>

@foreach (var template in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => template.IdTemplate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => template.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => template.Alias)
        </td>
        <td>
        @if (template.ParseHTML)
        {
            <span class="label label-success">Sim</span>
        }
        else
        {
            <span class="label label-info">Não</span>
        }
        </td>
        <td>
            <a href="@Url.Action("Editar", "Templates", new { id = template.IdTemplate })" class="btn btn-xs btn-warning">
                <span class="glyphicon glyphicon-edit"></span>
                Editar
            </a>
            <a href="@Url.Action("Excluir", "Templates", new { id = template.IdTemplate })" class="btn btn-xs btn-danger">
                <span class="glyphicon glyphicon-trash"></span>
                Excluir
            </a>
        </td>
    </tr>
}

</table>
