@model IEnumerable<ProjetoPadrao.Dados.Entidades.Categoria>

@{
    ViewBag.Title = "Categorias";

    var lookupCategorias = Model.ToLookup(c => c.IdCategoriaPai);

    foreach (var categoria in Model.ToList())
    {
        categoria.Subcategorias = lookupCategorias[categoria.IdCategoria].OrderBy(c => c.Ordem).ToList();
    }

    var arvoreCategorias = lookupCategorias[null];
}

<h2>Categorias</h2>

<p>
    <button type="button" class="btn btn-primary" id="btn-adicionar-categoria" autocomplete="off">Adicionar categoria</button>
    <button type="button" class="btn btn-warning" id="btn-organizar-categorias" data-toggle="button" aria-pressed="false" autocomplete="off">Organizar categorias</button>
    <button type="button" class="btn btn-danger" id="btn-organizar-categorias-cancelar">Cancelar</button>
    <button type="button" class="btn btn-success" id="btn-organizar-categorias-salvar">Salvar</button>
</p>

<div class="arvore-categorias-template" style="display: none;">
    @Html.Partial("ArvoreCategorias", arvoreCategorias)
</div>

@section css {
    @Styles.Render("~/Content/CSS/jstree-themes/default/style.min.css")
    @Styles.Render("~/Content/CSS/bootstrap-datetimepicker.min.css")
    <style type="text/css">
        .glyphicon-file:before {
            color: #fff;
            text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000;
        }

        .jstree-open > .jstree-anchor > .glyphicon.glyphicon-folder-close:before {
            content: "\e118";
        }
    </style>
}

@section scripts {
    <script type="text/javascript">
            var Urls = {
                Categorias: {
                    ArvoreCategorias: "@Url.Action("ArvoreCategorias", "Categorias")",
                    Novo: "@Url.Action("Novo", "Categorias")",
                    Editar: "@Url.Action("Editar", "Categorias")",
                    Organizar: "@Url.Action("Organizar", "Categorias")"
                },
                Conteudos: {
                    Index: "@Url.Action("Index", "Conteudos")",
                    Novo: "@Url.Action("Novo", "Conteudos")",
                    Editar: "@Url.Action("Editar", "Conteudos")"
                }
            };
    </script>
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/ckeditor/ckeditor.js")
    @Scripts.Render("~/Scripts/jstree.min.js")
    @Scripts.Render("~/Scripts/moment.min.js")
    @Scripts.Render("~/Scripts/moment.locale.pt-br.js")
    @Scripts.Render("~/Scripts/bootstrap-datetimepicker.min.js")
    @Scripts.Render("~/Areas/Administrativo/Scripts/Categorias.js")
    @Scripts.Render("~/Areas/Administrativo/Scripts/Conteudos.js")
}